

span {
  color:white;
  margin: 1.5em;
}

#navbar-title {
  font-size: 50px;
  position: absolute;
  float: left;
  top: -30px;
  bottom: 10px;
  font-size: 45px;
  margin-left: 0.8em;
}

#new-tweet-title {
  position: relative;
  float: right;
  font-family: source sans pro, sans-serif;
  margin-bottom: 0;
}

strong {
  font-weight: 600;
}


@keyframes bounce { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

#down-arrow {
  position: relative;
  color: red;
  margin-top: 75px;
  float: right;
  left: 140px;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding: 10px;
  cursor: pointer;
}


@media only screen and (max-width: 768px) {
  nav {
    font-family: bungee, sans-serif;
    position: fixed;
    top: 0px;
    height: 120px;
    width: 100%;
    z-index: 2;
    background-color: none;
    padding: 0 0.5%;
  }

  body {
    font-family: source sans pro, sans-serif;
    background-color: #d16c00;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }
}

@media only screen and (min-width: 769px) {
  nav {
    font-family: bungee, sans-serif;
    position: fixed;
    top: 0px;
    height: 120px;
    width: 100%;
    z-index: 2;
    background-color: blue;
    }

    body {
      font-family: source sans pro, sans-serif;
    } 
}