input {
  margin-right: auto;
  margin-top: 8px;
  background-color: blue;
  font-family: bungee, sans-serif;
  color: white;
} 

.counter {
  color: black;
  font-family: bungee;
}

article {
  border: 4px solid black;
  margin: 0 10%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
}

article:hover {
  box-shadow: 10px 10px;
}

.icon-holder img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

article:hover .icon-holder span a {
  color:rgb(96, 213, 255);
  float:right;
  margin-right: 10px;
}

.icon-holder span a {
  color: blanchedalmond;
}


.display-name {
  color: black;
  position: relative;
  bottom: 30px;
}

.posted-tweet {
  margin: 0 2%;
}

.tweet {
  border-bottom: 2px solid black;
  padding-bottom: 2%;
  margin: 0 2%;
  margin-top: 1%;
}

.icons {
  position: relative;
  margin-top: 2%;
  color: #4056A1;
  display: flex;
  justify-content: flex-end;
  bottom: 45px;
}

.time {
  margin-top: 1.5%;
}

.hide {
display: none;
}

.error-message i {
  color: red;
}

.error-message span {
  color: red;
  font-weight: 300;
  font-size: 16px;
}

#space {
  margin-bottom: 3%;
}

@media only screen and (max-width: 768px) {
  textarea {
    border-bottom: 4px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: bungee;
    font-size: 20px;
    background-color: blanchedalmond;
    outline: none;
    resize: none;
  }

  .new-tweet {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
  }

  .container-1 {
    align-self: center;
    display: flex; 
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 5%;
  }

  .counter {
    align-self: flex-end;
    margin-top: 0;
    position: relative;
    bottom: 30px;
  }

  .error-message {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border: 4px solid red;
  }

}

@media only screen and (min-width: 769px) {
  .new-tweet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 15%;
    max-width: 700px;
  }

  .container-1 {
    align-self: center;
    display: flex; 
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 5%;
  }

  .counter {
    align-self: flex-end;
    margin-top: 0;
    position: relative;
    bottom: 30px;
  }

  .error-message {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 2%;
    border: 4px solid red;
    display: flex;
    justify-content: space-between;
  }

  textarea {
    border-bottom: 4px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    font-family: bungee;
    background-color:  #f4f1ec;
    font-size: 20px;
    outline: none;
    resize: none;
  }

  .dp {
    margin-top: 40px;
  }

}
