.new-tweet {
  background-color: blanchedalmond;
  padding-bottom: 100%;
}

.container-1 {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

textarea {
  border-bottom: 4px solid black;
  border-top: none;
  border-right: none;
  border-left: none;
  font-family: bungee;
  font-size: 20px;
  background-color: blanchedalmond;
  outline: none;
  resize: none;
}

input {
  margin-right: auto;
  margin-top: 8px;
  background-color: blue;
  font-family: bungee, sans-serif;
  color: white;
} 

.counter {
  position: relative;
  bottom: 40px;
  color: black;
  font-family: bungee;
  align-self: flex-end;
  margin-top: auto;
}


article {
  border: 4px solid black;
  margin: 0 10%;
  margin-top: 2.5%;
  display: flex;
  flex-direction: column;
}

article:hover {
  box-shadow: 10px 10px;
}


.icon-holder img {
  height: 50px;
  width: 50px;
  margin: 10px;
}

article:hover .icon-holder span a {
  color:rgb(96, 213, 255);
  float:right;
  margin-top: 17px;
  margin-right: 10px;
}

.icon-holder span a {
  color: blanchedalmond;
}

.display-name {
  color: black;
  position: relative;
  margin-top: 0;
  bottom: 30px;
  margin-left: 0;
}

.posted-tweet {
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
}

.tweet {
  border-bottom: 2px solid black;
  padding-bottom: 2%;
  margin: 0 2%;
  margin-top: 1%;
}

.icons {
  margin-top: 2%;
  color: #4056A1;
}

.time {
  margin-top: 1.5%;
}



